<!--div class="card shadow p-3 border-primary mt-3"-->
    <!--div class="mx-auto ps-3 text-center">
        <h3 class="text-dark"><b>Time Remaining in Trial:</b> <span id="timer" class="timer text-primary"></span></h3>
        <p>When the timer ends, your trial period is over.</p>
    </div-->
    <div class="hero is-relative is-theme-primary">
        <div id="main-hero" class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-6 is-centered">
                        <h1 class="title main-title">Choose a plan.</h1>
                        <h2 class="subtitle is-5 light-text">Pick the right solution for you. Cancel anytime.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">        
        <div class="container">
            <div id="header-pricing" class="header-pricing">
                <div class="columns is-vcentered">
                    <div class="column is-10 is-offset-1">
                        <div class="columns is-vcentered">
                            
                            <div class="column is-4">
                                <!-- Pricing table -->
                                <div class="flex-card header-pricing-card primary hover-inset">
                                    <h3 class="plan-name">Small</h3>
                                    <div class="pricing-card-body">
                                        <div class="plan-price per-month animated preFadeInUp fadeInUp">
                                            <small>$</small> 24 <small>/ month</small>
                                        </div>
                                        <div>
                                            <ul class="plan-features">
                                                <li><span class="feature-count-text color-primary text-bold">500 Minutes of Transcription per Month</span></li>
                                                <li><span class="feature-count-text">Cost per Minute: 0.048€</span></li>
                                                <li><span class="feature-count-text">Base price per minute transcribed</span></li>
                                                <li><span class="feature-count-text">All Languages available</span></li>
                                            </ul>
                                        </div>    
                                        <div class="pt-20 pb-20">
                                            <a class="button button-cta rounded raised primary-btn btn-outlined is-bold" onclick="goToCheckout('SMALL')">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="column is-4">
                                <!-- Pricing table -->
                                <div class="flex-card header-pricing-card secondary hover-inset">
                                  <h3 class="plan-name">Medium</h3>
                                  <div class="pricing-card-body">
                                    <div class="plan-price per-month animated preFadeInUp fadeInUp">
                                      <small>$</small> 40 <small>/ month</small>
                                    </div>
                                    <ul class="plan-features">
                                      <li><span class="feature-count-text color-secondary text-bold">1000 Minutes of Transcription per Month</span></li>
                                      <li><span class="feature-count-text">Cost per Minute: 0.04€</span></li>
                                      <li><span class="feature-count-text">Save 8€/Month on base price</span></li>
                                      <li><span class="feature-count-text">All Languages available</span></li>
                                    </ul>
                                    <div class="pt-20 pb-20">
                                      <a class="button button-cta rounded raised primary-btn btn-outlined is-bold" onclick="goToCheckout('MEDIUM')">Buy Now</a>
                                    </div>
                                  </div>
                                </div>
                            </div>

                            <div class="column is-4">
                                <!-- Pricing table -->
                                <div class="flex-card header-pricing-card primary hover-inset">
                                  <h3 class="plan-name">Top</h3>
                                  <div class="pricing-card-body">
                                    <div class="plan-price per-month animated preFadeInUp fadeInUp">
                                      <small>$</small> 105 <small>/ month</small>
                                    </div>
                                    <ul class="plan-features">
                                      <li><span class="feature-count-text color-primary text-bold">3000 Minutes of Transcription per Month</span></li>
                                      <li><span class="feature-count-text">Cost per Minute: 0.035€</span></li>
                                      <li><span class="feature-count-text">Save 39€/Month on base price</span></li>
                                      <li><span class="feature-count-text">All Languages available</span></li>
                                    </ul>
                                    <div class="pt-20 pb-20">
                                      <a class="button button-cta rounded raised primary-btn btn-outlined is-bold" onclick="goToCheckout('TOP')">Buy Now</a>
                                    </div>
                                  </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FAQ -->
    <div class="section section-feature-grey is-medium">
        <div class="container">
            <!-- Title -->
            <div class="section-title-wrapper has-text-centered">
            <div class="bg-number">?</div>
            <h2 class="section-title-landing">Frequent questions</h2>
            <h4>Do you have some questions ? Find answers in our FAQ.</h4>
            </div>
        
            <div class="content-wrapper">
            <div class="columns">
                <div class="column is-4 is-offset-2">
                <div class="content">
                    <p class="text-bold color-primary">1. How do i get started?</p>
                    <p>
                    Lorem ipsum dolor sit amet, accusata voluptatibus per eu, probo
                    summo argumentum ea vel. Pri nonumy sententiae ex, eam adhuc
                    regione tibique te. Et sit alii vero harum, ne his viderer
                    consectetuer.
                    </p>
                </div>
                <div class="content">
                    <p class="text-bold color-primary">3. Where can i get training?</p>
                    <p>
                    Lorem ipsum dolor sit amet, accusata voluptatibus per eu, probo
                    summo argumentum ea vel. Pri nonumy sententiae ex, eam adhuc
                    regione tibique te. Et sit alii vero harum, ne his viderer
                    consectetuer.
                    </p>
                </div>
                <div class="content">
                    <p class="text-bold color-primary">5. Are updates mandatory?</p>
                    <p>
                    Lorem ipsum dolor sit amet, accusata voluptatibus per eu, probo
                    summo argumentum ea vel. Pri nonumy sententiae ex, eam adhuc
                    regione tibique te. Et sit alii vero harum, ne his viderer
                    consectetuer.
                    </p>
                </div>
                </div>
                <div class="column is-4">
                <div class="content">
                    <p class="text-bold color-primary">
                    2. How can i add people to my team?
                    </p>
                    <p>
                    Lorem ipsum dolor sit amet, accusata voluptatibus per eu, probo
                    summo argumentum ea vel. Pri nonumy sententiae ex, eam adhuc
                    regione tibique te. Et sit alii vero harum, ne his viderer
                    consectetuer.
                    </p>
                </div>
                <div class="content">
                    <p class="text-bold color-primary">
                    4. Do you have a refund policy?
                    </p>
                    <p>
                    Lorem ipsum dolor sit amet, accusata voluptatibus per eu, probo
                    summo argumentum ea vel. Pri nonumy sententiae ex, eam adhuc
                    regione tibique te. Et sit alii vero harum, ne his viderer
                    consectetuer.
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div id="backtotop"><a href="#"></a></div> 

<!--/div-->

<script src="https://js.stripe.com/v3/"></script>
<script>
    function goToCheckout(plan) {
        data = JSON.stringify({
            plan: plan
        })

        ajax('/setup_payment', 'POST', data,
            function(response) {
                json_obj = JSON.parse(response);
                public_key = json_obj.stripe_public_key;
                session_id = json_obj.session_id;

                var stripe = Stripe(public_key);
                stripe.redirectToCheckout({
                    // Make the id field from the Checkout Session creation API response
                    // available to this file, so you can provide it as parameter here
                    // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
                    sessionId: session_id
                }).then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer
                    // using `result.error.message`.
                });
            },
            function(error) {
                console.log('Something went wrong' + error);
            }
        )
    }
</script>